@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d16161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

body {
  backdrop-filter: blur(3px);
  background-image: url("../public/An-Indian-Farmer-Great-Biography-of-ordinary-people.jpg");
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 2vw;
  backdrop-filter: blur(5px);
  background-color: rgb(44, 44, 44, 0.9);
  color: rgb(255, 255, 255);
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.nav-item {
  /* display: none; */
  font-size: 1.05rem;
}

.nav-btn {
  display: inline-block;
  padding: 7px 23px;
  font-size: 18px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  /* background: rgb(66, 100, 203); */
  background: none;
  border-radius: 20px;
}

.nav-btn:hover {
  /* background: rgb(252, 252, 252); */
  animation: colorChange1 5s infinite;
  color: black;
  transition: 0.4s;
}
/* 
section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

.card-content-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card-content {
  backdrop-filter: blur(10px);
  border-radius: 55px;
  background-color: rgb(60, 57, 57, 0.9);
  width: 35%;
  font-size: 1.8vw;
  color: rgb(255, 255, 255);
  display: flex;
  height: 35vw;
  justify-content: center;
  /* align-items: center; */
  margin: 1.5vw;
  flex-direction: column;
}

.button {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 55px;
  display: inline-block;
  padding: 18px 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  animation: colorChange1 5s infinite;
}

/* .card-content:hover {
  transform: scale(1.1);
  transition: 0.4s;
  background-color: rgb(60, 57, 57, 0.9);
  height: 55vh;
} */

.button:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

@keyframes colorChange {
  0% {
    background-color: #f59281; /* Tomato */
  }
  25% {
    background-color: #6bf8fa; /* Dark Turquoise */
  }
  50% {
    background-color: #f7e47a; /* Gold */
  }
  75% {
    background-color: #be81f7; /* Blue Violet */
  }
  100% {
    background-color: #f3b66a; /* Dark Orange */
  }
}

@keyframes colorChange1 {
  0% {
    background-color: #ef73d8; /* Tomato */
  }
  25% {
    background-color: #8bfa7a; /* Dark Turquoise */
  }
  50% {
    background-color: #7ad6f7; /* Gold */
  }
  75% {
    background-color: #f7c881; /* Blue Violet */
  }
  100% {
    background-color: #f36a8f; /* Dark Orange */
  }
}

.button1 {
  margin-right: 3rem;
  margin-left: 50px;
  margin-top: 55px;
  display: inline-block;
  padding: 18px 50px;
  font-size: 0.6em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  animation: colorChange 5s infinite;
}

.card-title {
  margin: 20px 40px;

  font-size: 25px;
}

.card-description {
  margin: 0px 40px;
  font-size: 30px;
}

/* Form */

.recommendation-content-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vh;
  /* margin-right: auto; */
  /* margin-left: 12vh; */
}

.add-form {
  margin-left: 30px;
  margin-top: 7vh;
  padding: 3vw;
  backdrop-filter: blur(4px);
  border-radius: 2.5vw;
  background-color: rgba(59, 56, 56, 0.9);
  width: 100%;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  display: flex;
  height: 75vh;
  justify-content: center;
  /* align-items: center; */
  /* margin: 20px; */
  flex-direction: column;
  /* transition: height 1s ease; */
}

.add-form label {
  font-size: 1.2rem;
  margin-bottom: 1vh;
}

.add-form input {
  font-size: 0.95rem;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255, 0.9);
  /* border: 2px solid rgb(58, 58, 58); */
  margin-bottom: 3vh;
  padding: 10px;
  border: none;
  width: 96%;
  border-radius: 2.5vw;
  outline: none;
  /* place-content: center; */
}

.add-form h3 {
  margin-top: 3vh;
}

/* FAQ Content Box CSS Starts */

.faq-content-box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 75vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh;
  /* padding-bottom: 50vh 0; */
  /* border: 2px solid pink; */
  border-radius: 40px;
  backdrop-filter: blur(10px);
  background-color: rgba(59, 56, 56, 0.9);
}

.faq-box {
  padding: 0vh 3vh;
  color: white;
  display: flex;
  flex-direction: column;
  width: 93%;
  /* border: 2px solid red; */
  margin: 1vh 0px;
  border-radius: 20px;
  /* background-color: rgba(59, 56, 56, 0.6); */
}

.faq-content-box h1 {
  margin-top: 2vh;
  font-size: 25px;
}

.faq-box h3 {
  font-size: 20px;
}

.ques-container {
  /* style={{ overflowY: "auto", maxHeight: "50vh" }} */
  overflow-y: auto;
  max-height: 65vh;
  padding: 0 6vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.button-1 {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 25px;
  display: inline-block;
  padding: 18px 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  animation: colorChange1 5s infinite;
}

/* .iframebox {
  height: 90vh;
  width: 100vw;
} */

#wrap {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  max-height: 91.7vh;
}

#scaled-frame {
  zoom: 50%;
}

/* #scaled-frame {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 1;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.91);
  -webkit-transform-origin: 0 0;
} */
/*
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #scaled-frame {
    zoom: 1;
  }
} */
